html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: $textColor;
}

.page {
  h1 {
    margin: 2rem auto;
  }

  h2 {
    margin: 1rem auto;
  }
}

a {
  text-decoration: none;
}